*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Robot';
}
body{
    /* background: #091921; */
    /* background: #2a1951; */
    background: linear-gradient(135deg,#71b7e6,#9b59b6,#b68659);
}

h1{
    font-size: 40px;
    margin-top: +22px;
    
}



.main{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center ;
    margin-top: 32px;
}
/* .main .calculatorForm{
    width: 400px;
    height: 550px;
    position: relative;
    border-color: 5px solid rgba(199, 48, 50, 0.1);
    font-size: 25px;
    font-weight: 500;
}  */
.main .calculatorForm div {
    width: 100%;
    height: calc(550px/6);
    display: flex;
    flex: 1;
}
.main .calculatorForm div input{
    width: 100%;
    height: 100%;
    font-size:25px;
    font-weight: 500;
    border: 2px solid rgba(224, 19, 19, 0.1);
}
.Numbers{
    color: rgb(85, 37, 219);
    background: #e96857;
    cursor: pointer;
}
.clearbutton{
    background: #0e2d57;
    color: #fff;
    cursor: pointer;
}
.Numbers1{
    background: linear-gradient(135deg,#310a03,#b54905,#db7a20);
}
    /* background: #41ac07,#2c7205,#1a4602; */


















































/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Robot';
}

body{
    background: rgb(255, 189, 127);
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

/* .main{
    height: 450px;
    width: 350;
    position:relative ;
    border: darksalmon;
    font: size 50px;
    font-weight: 300;
} */
.main.calculatorForm{
    width: 350px;
    height: 450px;
    position: relative;
    border-color: 2px solid rgba(0, 0, 0, 0.1);
    font-size: 34px;
    font-weight: 500;
}

.main.calculatorForm div {
    width: 100%;
    height: calc(450px/6);
    display: flex;
    flex: 1;
} */
/* .class.button{
    width: 100%;
    height: 100%;
    font-size: 25px;
    font-weight: 500;
    border-color: 2px solid rgba(224, 19,19, 0.1);
} */

